<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="$(var.AppName)"
    Language="1033"
    Version="$(var.AppVersion)"
    Manufacturer="K0VCZ"
    UpgradeCode="2C7EBB09-4A3C-4DB2-9D9F-95A4EB77960B"
    Scope="perMachine"
    InstallerVersion="500"
    Compressed="yes"
    Platform="x86">

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Property Id="ARPNOMODIFY" Value="1" />

    <Icon Id="ArtemisIcon" SourceFile="$(var.AppIcon)" />
    <Property Id="ARPPRODUCTICON" Value="ArtemisIcon" />

    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="$(var.AppName)" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="$(var.StartMenuDir)" />
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder" />

    <Feature Id="MainFeature" Title="$(var.AppName)" Level="1">
      <ComponentGroupRef Id="ArtemisFiles" />
      <ComponentRef Id="ApplicationShortcuts" />
      <ComponentRef Id="DesktopShortcut" />
    </Feature>
  </Package>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcuts" Guid="*">
        <Shortcut
          Id="ApplicationStartMenuShortcut"
          Name="$(var.AppName)"
          Description="$(var.AppName)"
          Target="[INSTALLFOLDER]bin\com.k0vcz.Artemis.exe"
          WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue
          Root="HKLM"
          Key="Software\K0VCZ\$(var.AppName)"
          Name="installed"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="*">
        <Shortcut
          Id="ApplicationDesktopShortcut"
          Name="$(var.AppName)"
          Description="$(var.AppName)"
          Target="[INSTALLFOLDER]bin\com.k0vcz.Artemis.exe"
          WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue
          Root="HKLM"
          Key="Software\K0VCZ\$(var.AppName)"
          Name="desktop-shortcut"
          Type="integer"
          Value="1"
          KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
